{% extends 'students/layouts/base.html'  %}
{% load static %}
{% block title %}  Add new Student  {% endblock %}

{% block content %}
<div class="bg-light">
    <h1> Add new Student </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name='name' class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">age</label>
            <input type="number" name="age" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" name="image" class="form-control" aria-describedby="emailHelp">
        </div>
         <div class="mb-3">
            <label class="form-label">Track</label>
               <select class="form-select" aria-label="Default select example" name="track_id">
                <option selected disabled value="">Open this select menu</option>
                   {% for track in tracks %}
                   <option value="{{track.id}}">{{track.name}}</option>
                   {% endfor %}


            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}
