{% extends 'students/layouts/base.html'%}
{% load static %}

{% block body %}
<div class="bg-light">
    <a href="{% url 'students.create' %}" class=" btn btn-dark"> Add new Student </a>

    <h2> All Students </h2>

    <!--{{courses}}-->

    {% for student in students %}

    <div style="display:inline-block">
        <div class="card" style="width: 18rem;">
            <img src="{{student.get_image_url}}" width="200" height="200" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">{{student.name}}</h5>
                <!--                {{student.image}}-->
                <a href="{{student.get_show_url}}" class="btn btn-primary">Show</a>
                <a href="{{student.get_delete_url}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endblock %}
</div>
{% block content %}
{% endblock %}