{% extends 'students/layouts/base.html'  %}
{% load static %}
{% block title %} Student Info {% endblock %}

{% block content %}
<div class="bg-light">
    <h1> Student {{student.name}}  Info </h1>

    <div class="card" style="width: 18rem;">
        <img src="{{student.get_image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{student.name}}</h5>
             <h4 class="card-title">Track: {{student.track}}, {{student.track.created_at}}</h4>
            <p class="card-text">age: {{student.age}}</p>
            <p class="card-text">Created at: {{student.created_at}}</p>
            <p class="card-text">Updated ar: {{student.updated_at}}</p>
            <a href="{% url 'students.index'%}" class="btn btn-primary">Back to all students</a>
        </div>
    </div>
</div>
{% endblock %}